<div id="splash">
    <a class="close" href="#"ß>&times;</a>
    <h1>{{title}}</h1>
    {{{help_header}}}
    <h2>Colors</h2>
    <dl>
        <dt>ctrl + up/ctrl + down</dt>
        <dd>Change foreground color</dd>
        <dt>ctrl + left/ctrl + right</dt>
        <dd>Change background color</dd>
    </dl>
    <h2>Characters</h2>
    <dl>
        <dt>alt + [f1..f10]</dt>
        <dd>Switch extended character set</dd>
        <dt>[f1..f10]</dt>
        <dd>Place extended character</dd>
    </dl>
    {{{help_footer}}}
</div>
<div id="drawings">
    <div>
        <a class=close href=#>&times;</a>
        <h2>Your Drawings</h2>
        <p class="alert"><strong>Warning:</strong> clearing your cache will empty this list</p>
        <ol></ol>
    </div>
    <div>
        <h2>Upload Drawing</h2>
        <form id="upload" method="post" enctype="multipart/form-data">
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
            <div>
                <label for="fileselect">Drawing to upload: </label>
                <input type="file" id="fileselect" name="fileselect" />
            </div>
        </form>
    </div>
</div>
<div id="SaveDialog">
    <a class=close href=#>&times;</a>
    <h2>Save</h2>
    <label for="name">Name (Optional)</label> <input id=name type="text" />
    <ul>
        <li><a href="#" id="PNGSave">Save as PNG</a></li>
        <li><a href="#" id="html5Save">Save to Browser</a></li>
    </ul>
</div>
<div id="toolbar">
    <ul id="menu">
        <li id="save">Save</li>
        <li id="load">Load</li>
        <li id="clear">Clear</li>
    </ul>
    <div id="cursorpos">(1, 1)</div>
    <div id="palette">
        <div id=fg class=selected>FG</div>
        <div id="bg">BG</div>
        <div id="colors"></div>
        <div style="clear:both"></div>
    </div>
    <div id="charsets">
        <ul id="sets"></ul>
        <div id="prev-set">&#9668;</div>
        <div id="next-set">&#9658;</div>
        <div id="char-lock">Lock</div>
    </div>
</div>
<div id="canvaswrapper">
    <div id="canvasscroller">
        <div id="highlight"></div>
        <div id="cursor"></div>
        <canvas id="canvas"></canvas>
    </div>
    <canvas id="vga"></canvas>
</div>