<div id="splash">
    <a class="close" href="#"ß>&times;</a>
    <h1>{{title}}</h1>
    {{{help_header}}}
    <h2>Colors</h2>
    <dl>
        <dt>ctrl + up/ctrl + down</dt>
        <dd>Change foreground color</dd>
        <dt>ctrl + left/ctrl + right</dt>
        <dd>Change background color</dd>
    </dl>
    <h2>Characters</h2>
    <dl>
        <dt>alt + [f1..f10]</dt>
        <dd>Switch extended character set</dd>
        <dt>[f1..f10]</dt>
        <dd>Place extended character</dd>
    </dl>
    {{{help_footer}}}
</div>
<div id="drawings">
    <div id="html5Files">
        <a class=close href=#>&times;</a>
        <h2>Your Drawings</h2>
        <p class="alert"><strong>Warning:</strong> clearing your cache will empty this list</p>
        <ol></ol>
    </div>
    <div>
        <h2>Upload Drawing</h2>
        <form id="upload" method="post" enctype="multipart/form-data">
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
            <div>
                <label for="fileselect">Drawing to upload: </label>
                <input type="file" id="fileselect" name="fileselect" />
                <button onclick="abortRead();">Cancel read</button>
                <div id="progress_bar"><div class="percent">0%</div></div>
            </div>
        </form>
    </div>
    <div>
        <h2>Dropbox Drawings</h2>
        <div id="LoadLogout"><span class="user-name"></span> (<a href="#" class="logout">Logout</a>)</div>
        <a class="dropbox-login" href="#">Login to Dropbox</a>
        <ol id="DropboxFiles"></ol>
    </div>
</div>
<div id="CharacterSetDialog" class="dialog">
    <a class=close href=#>&times;</a>
    <h2>Change Character Set</h2>
    <ul>
        <li><a href="#" data-font-set="8x16">80x25 ANSI</a></li>
        <li><a href="#" data-font-set="8x8">80x50 ANSI</a></li>
        <li><a href="#" data-font-set="Amiga">Amiga Font</a></li>        
    </ul>
</div>
<div id="SaveDialog" class="dialog">
    <a class=close href=#>&times;</a>
    <h2>Save</h2>
    <label for="name">Name (Optional)</label> <input id=name type="text" />
    <ul>
        <li><a href="#" id="PNGSave">Save as PNG</a></li>
        <li><a href="#" id="html5Save">Save to Browser</a></li>
        <li id="DropboxContainer">
            <span id="DropboxSaveContainer"><a href="#" id="DropboxSave">Save to Dropbox</a> as <span class="user-name" /> (<a href="#" class="logout">Logout</a>)</span>
            <a href="#" class="dropbox-login">Login to Dropbox</a>
        </li>
    </ul>
</div>
<div id="ErrorDialog" class="dialog">
    <a class="close" href="#">&times;</a>
    <h2>Error</h2>
    <p class="message" />
</div>
<header>
    <h1>{{title}}</h1>
</header>
<ul id="menu">
    <li id="clear">New</li>
    <li id="load">Open</li>
    <li id="save">Save</li>
    <li id="help">Help</li>
</ul>
<div id="meta">
    <h2>FILENAME.ANS</h2>
    <div id="cursorpos">[ L:1 C:1 ]</div>
</div>
<div id="toolbar">
    <div id="palette">
        <div id="fg" class="selected">f</div>
        <div id="bg">b</div>
        <div id="colors"></div>
        <div style="clear:both"></div>
    </div>
    <div id="charsets">
        <ul id="sets"></ul>
        <div id="prev-set">&#9668;</div>
        <div id="next-set">&#9658;</div>
        <div id="char-lock">Lock</div>
    </div>
</div>
<div id="canvaswrapper">
    <div id="canvasscroller">
        <div id="highlight" class="highlight"></div>
        <div id="cursor"></div>
        <canvas id="canvas"></canvas>
    </div>
    <div id="vgawrapper">
        <div id="vgahighlight" class="highlight"></div>
        <canvas id="vga"></canvas>
    </div>
</div>