body {
    background-color: #fff;
}

#cursor {
    background-image: url(../img/cursor_ovr.gif);
    background-position: bottom;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

#editor {
    background-color: #000;
    color: #fff;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 640px;
    height: 400px;
}
