@font-face {  
    font-family: '8x16';
    src: url('../font/dos437-webfont.eot');
    src: local('â˜º'), url('../font/dos437-webfont.woff') format('woff'), url('../font/dos437-webfont.ttf') format('truetype'), url('../font/dos437-webfont.svg#webfontpVS4iJcr') format('svg');
    font-weight: normal;
    font-style: normal;
} 

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    background: #000;
    font-family: '8x16';
    font-size: 8px;
}

/* DRAWINGS (SAVE/LOAD) */

#drawings {
    overflow: auto;
}

/* SPLASH SCREEN */

#splash, #drawings, #SaveDialog, .dialog {
    display: none;
    z-index: 2;
    position: absolute;
    width: 400px;
    height: 330px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    background: #fff;
    border: 4px solid #aaa;
    padding: 8px;
}

h1 {
    font-size: 18px;
}

h2 {
    clear: left;
    font-size: 16px;
    font-weight: normal;
    color: #a50;
}

h1, h2, dl, p {
    margin-bottom: 8px;
}

dt {
    color: #a00;
    font-weight: bold;
    width: 150px;
    clear: left;
    float: left;
}

dd {
    margin-left: 150px;
}

ul li {
    list-style-type: none;
}

.addthis_toolbox {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

a, #drawings li {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

a.close {
    position: absolute;
    display: block;
    color: #999;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    top: 4px;
    right: 8px;
}

a:hover {
    color: #000 !important;
}

/* TOOLBAR */

#meta {
    overflow: auto;
}

#meta h2 {
    color: rgb(85, 85, 85);
    text-align: center;
    width: 70em;
    float: left;
}

#toolbar {
    float: left;
    height: 100%;
    background: #000;
    margin-left: 4em;
}

header {
    color: #ababab;
    float: left;
    line-height: 34px;
    margin-left: 1em;
}

header:before {
    content: '\00FE';
}

header h1 {
    display: inline;
    margin-left: 1em;
    color: #fff;
    margin-right: 3em;
}

#menu {
    list-style-type: none;
    overflow: auto;
}

#menu li:after {
    content: ' |';
    color: rgb(85, 85, 85);
}

#menu li:last-child:after {
    content: '';
}


#cursorpos, #menu li {
    color: #ababab;
    text-align: center;
    line-height: 34px;
}

#cursorpos {
    color: rgb(85, 85, 85);
    float: left;
    min-width: 11em;
    width: 20em;
    text-align: right;
}

#menu li {
    display: block;
    cursor: pointer;
    float: left;
    margin-left: 1em;
}

#menu li:hover {
    background: #ababab;
}

/* PALETTE */

#colors ul {
    float: left;
    list-style-type: none;
    padding-top: 1px;
    z-index: 10;
    position: relative;
}

#colors li {
    width: 2em;
    height: 2em;
}

#fg, #bg, #colors li {
    cursor: pointer;
}

#colors li.fg_selected:before {
    content: 'f ';
}

#colors li.bg_selected:before {
    content: 'b';
    padding-left: 1em;
}

#colors li.bg_selected.fg_selected:before {
    content: 'fb';
    padding: 0;
}

#colors li.bg_selected.invert, #colors li.fg_selected.invert {
    color: rgb(85, 85, 85);
}

#fg, #bg {
    text-transform: lowercase;
    color: rgb(85, 85, 85);    
    margin-left: 0;
    position: relative;
    width: 32px;
    height: 24px;
}

#fg {
    text-indent: -3em;
    z-index: 10;
}

#bg {
    text-indent: 5em;
    z-index: 1;
    left: 8px;
    top: -8px;
    position: relative;
}

.fg_selected {
    content: 'f ';
}

/* #palette .selected {
    margin-right: 0;
    cursor: default;
    text-align: right;
}*/

/* CHARSETS */

#charsets {
    text-align: center;
    margin-top: 8px;
}

#sets ul {
    list-style-type: none;
}

#sets ul li {
    cursor: pointer;
    height: 16px;
    padding: 1.5em 0;
    text-align: right;
    width: 4em;
    color: rgb(85, 85, 85);
}

#sets ul li.selected span {
    background: #ababab;
}

#sets ul li.selected span:before {
    content: ''; /* weird hacky situation where this makes the prepended space show up */
}

#sets ul li span {
    vertical-align: top;
    width: 2em;
}
#prev-set, #next-set {
    text-align: center;
    width: 2em;
    cursor: pointer;
    color: #000;
    background: #ababab;
}

#prev-set {
    float: left;
}

#next-set {
    margin-left: 26px;
}

#char-lock {
    text-align: center;
    cursor: pointer;
}

#char-lock.on {
    color: #fff;
}

/* CANVAS + CURSOR */

#canvaswrapper {
    position: relative;
    margin-left: 100px;
}

#canvasscroller {
    overflow: scroll;
}

#cursor {
    pointer-events: none;
    background-image: url(../img/cursor_ovr.gif);
    background-position: bottom;
    position: absolute;
}

#cursor.ins {
    background-image: url(../img/cursor_ins.gif);    
}

#highlight {
    pointer-events: none;
    display: none;
    position: absolute;

}

.highlight {
    background-color: #999;
    zoom: 1;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

#vgahighlight {
    position: absolute;
}

#canvas {
    background: #000;
}

/* block copy/move */

#copy {
    position: absolute;
    z-index: 1000;
    top: 0;
    pointer-events: none;
}

/* VGA PREVIEW */
#vgawrapper {
    position: absolute;
    top: 0;
    right: 20px;
    margin-right: 8px;
    
}

#vgawrapper h2 {
    top: -3em;
    width: 160px;
    color: rgb(85,85,85);
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

#vga {
    opacity: 1;
}

.alert {
    color: #900;

}

#drawings li span {
    cursor: pointer;
}

#drawings li span.name:hover {
    color: #000;
}

#drawings li span.delete:hover {
    color: #900;
}

#drawings li {
    margin-left: 3em;   
}

#SaveDialog li {
    margin: .5em 2em;
    list-style-type: disc;
}

#SaveDialog ul {
    margin-top: 1.5em;
}


/* UPLOAD */
#filedrag
{
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}
#filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

#drawings div {
    margin-bottom: 1em;
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
    opacity: 1.0;
}

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}
