* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 13px;
    background: #333;
}

/* SPLASH SCREEN */

#splash {
    display: none;
    z-index: 2;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    background: #fff;
    border: 4px solid #aaa;
    padding: 8px;
}

h1 {
    font-size: 18px;
}

h2 {
    clear: left;
    font-size: 16px;
    font-weight: normal;
    color: #a50;
}

h1, h2, dl, p {
    margin-bottom: 8px;
}

dt {
    color: #a00;
    font-weight: bold;
    width: 150px;
    clear: left;
    float: left;
}

dd {
    margin-left: 150px;
}

a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

a#close {
    position: absolute;
    display: block;
    color: #999;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    top: 4px;
    right: 8px;
}

a:hover {
    color: #000 !important;
}

/* TOOLBAR */

#toolbar {
    float: left;
    width: 51px;
    height: 100%;
    background: #555;
}

#menu {
    list-style-type: none;
}

#cursorpos, #menu li {
    color: #fff;
    text-align: center;
    line-height: 34px;
}

#menu li {
    width: 100%;
    display: block;
    cursor: pointer;
}

#menu li:hover {
    background: #ababab;
}

/* PALETTE */

#colors {
    list-style-type: none;
    background: #000;
    padding-top: 1px;
    column-count: 2;
    -webkit-column-count: 2;
    -webkit-column-gap: 1px;
    -moz-column-count: 2;
    -moz-column-gap: 1px;
}

#colors li {
    width: 25px;
    height: 25px;
    margin-bottom: 1px;
}

#fg, #bg, #colors li {
    cursor: pointer;
}

#fg, #bg {
    margin: 0 15px 3px 0;
    line-height: 25px;
    padding: 0 10px;
    color: #fff;    
    text-align: center;
    font-weight: bold;
}

#palette .selected {
    margin-right: 0;
    cursor: default;
    text-align: right;
}

/* CHARSETS */

#charsets {
    text-align: center;
    margin-top: 8px;
}

#sets ul {
    list-style-type: none;
    border-top: 1px solid #000;
}

#sets ul li {
    cursor: pointer;
    height: 16px;
    padding: 4px 0;
    border-bottom: 1px solid #000;
}

#sets .selected {
    background: #ababab;
}

#prev-set, #next-set {
    margin: 8px 0;
    text-align: center;
    width: 25px;
    line-height: 25px;
    cursor: pointer;
    color: #fff;
}

#prev-set {
    float: left;
}

#next-set {
    margin-left: 26px;
}

#char-lock {
    text-align: center;
    cursor: pointer;
}

#char-lock.on {
    color: #fff;
}

/* CANVAS + CURSOR */

#canvaswrapper {
    position: relative;
    height: 100%;
    margin-left: 51px;
}

#cursor {
    pointer-events: none;
    background-image: url(img/cursor_ovr.gif);
    background-position: bottom;
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 16px;
}

#cursor.ins {
    background-image: url(img/cursor_ins.gif);
}

#canvas {
    background: #000;
    width: 78%;
    height: 100%;
}

/* VGA PREVIEW */
#vga {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    margin-right: 8px;
}
